MMCoreConnector/MMCoreConnector/Web References/WRMailBoxAccount/MailBoxAccountManagementService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://operations.account.mproxy.cmp.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MailBoxAccountManagementService" targetNamespace="http://operations.account.mproxy.cmp.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://operations.account.mproxy.cmp.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="mproxyOperationStatusAccount" final="extension restriction">
        <xs:sequence>
          <xs:element minOccurs="0" name="detailedInfo" type="xs:string" />
          <xs:element minOccurs="0" name="operationResult" type="tns:mproxyOperationResult" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="value" nillable="true" type="tns:mailBoxAccount" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mailBoxAccount" final="extension restriction">
        <xs:sequence>
          <xs:element name="active" type="xs:boolean" />
          <xs:element minOccurs="0" name="backupLocation" type="xs:string" />
          <xs:element minOccurs="0" name="errorLocation" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:string" />
          <xs:element minOccurs="0" name="incomingLocation" type="xs:string" />
          <xs:element minOccurs="0" name="login" type="xs:string" />
          <xs:element minOccurs="0" name="loginDocs" type="xs:string" />
          <xs:element minOccurs="0" name="maximumMessages" type="xs:int" />
          <xs:element minOccurs="0" name="outgoingLocation" type="xs:string" />
          <xs:element minOccurs="0" name="outgoingLocationActh" type="xs:string" />
          <xs:element minOccurs="0" name="outgoingLocationOldId" type="xs:string" />
          <xs:element minOccurs="0" name="outgoingLocationUid" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="pinCode" type="xs:string" />
          <xs:element minOccurs="0" name="pinCodeMexi" type="xs:string" />
          <xs:element minOccurs="0" name="port" type="xs:string" />
          <xs:element minOccurs="0" name="processedLocation" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="properties" nillable="true" type="tns:mailBoxAccountProperties" />
          <xs:element minOccurs="0" name="server" type="xs:string" />
          <xs:element minOccurs="0" name="serverDocs" type="xs:string" />
          <xs:element minOccurs="0" name="userId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mailBoxAccountProperties" final="extension restriction">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="propertyId" type="xs:string" />
          <xs:element minOccurs="0" name="value" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mproxyOperationStatus" final="extension restriction">
        <xs:sequence>
          <xs:element minOccurs="0" name="detailedInfo" type="xs:string" />
          <xs:element minOccurs="0" name="operationOutputValue" type="xs:string" />
          <xs:element minOccurs="0" name="operationResult" type="tns:mproxyOperationResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="mproxyOperationResult">
        <xs:restriction base="xs:string">
          <xs:enumeration value="MPROXY_RESULT_OK" />
          <xs:enumeration value="MPROXY_RESULT_FAILED" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="create">
    <wsdl:part name="account" type="tns:mailBoxAccount" />
  </wsdl:message>
  <wsdl:message name="readAll" />
  <wsdl:message name="findSWUUserLoginResponse">
    <wsdl:part name="return" type="tns:mproxyOperationStatus" />
  </wsdl:message>
  <wsdl:message name="createDefaultResponse">
    <wsdl:part name="return" type="tns:mproxyOperationStatus" />
  </wsdl:message>
  <wsdl:message name="readAllResponse">
    <wsdl:part name="return" type="tns:mproxyOperationStatusAccount" />
  </wsdl:message>
  <wsdl:message name="createMailBoxResponse">
    <wsdl:part name="return" type="tns:mproxyOperationStatus" />
  </wsdl:message>
  <wsdl:message name="createDefault">
    <wsdl:part name="ldapUID" type="xsd:string" />
    <wsdl:part name="queueUserId" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="readByIdResponse">
    <wsdl:part name="return" type="tns:mproxyOperationStatusAccount" />
  </wsdl:message>
  <wsdl:message name="readById">
    <wsdl:part name="uid" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="update">
    <wsdl:part name="account" type="tns:mailBoxAccount" />
  </wsdl:message>
  <wsdl:message name="generateMailBoxAccountIdResponse">
    <wsdl:part name="return" type="tns:mproxyOperationStatus" />
  </wsdl:message>
  <wsdl:message name="findSWUUserLogin" />
  <wsdl:message name="generateMailBoxAccountId">
    <wsdl:part name="boxType" type="xsd:string" />
    <wsdl:part name="type" type="xsd:string" />
    <wsdl:part name="value" type="xsd:string" />
    <wsdl:part name="applicationId" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="createResponse">
    <wsdl:part name="return" type="tns:mproxyOperationStatus" />
  </wsdl:message>
  <wsdl:message name="delete">
    <wsdl:part name="account" type="tns:mailBoxAccount" />
  </wsdl:message>
  <wsdl:message name="read" />
  <wsdl:message name="readResponse">
    <wsdl:part name="return" type="tns:mproxyOperationStatusAccount" />
  </wsdl:message>
  <wsdl:message name="updateResponse">
    <wsdl:part name="return" type="tns:mproxyOperationStatus" />
  </wsdl:message>
  <wsdl:message name="createMailBox">
    <wsdl:part name="boxType" type="xsd:string" />
    <wsdl:part name="type" type="xsd:string" />
    <wsdl:part name="value" type="xsd:string" />
    <wsdl:part name="applicationId" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="deleteResponse">
    <wsdl:part name="return" type="tns:mproxyOperationStatus" />
  </wsdl:message>
  <wsdl:portType name="MailBoxAccountManagement">
    <wsdl:operation name="read">
      <wsdl:input name="read" message="tns:read" />
      <wsdl:output name="readResponse" message="tns:readResponse" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input name="delete" message="tns:delete" />
      <wsdl:output name="deleteResponse" message="tns:deleteResponse" />
    </wsdl:operation>
    <wsdl:operation name="readAll">
      <wsdl:input name="readAll" message="tns:readAll" />
      <wsdl:output name="readAllResponse" message="tns:readAllResponse" />
    </wsdl:operation>
    <wsdl:operation name="createMailBox">
      <wsdl:input name="createMailBox" message="tns:createMailBox" />
      <wsdl:output name="createMailBoxResponse" message="tns:createMailBoxResponse" />
    </wsdl:operation>
    <wsdl:operation name="findSWUUserLogin">
      <wsdl:input name="findSWUUserLogin" message="tns:findSWUUserLogin" />
      <wsdl:output name="findSWUUserLoginResponse" message="tns:findSWUUserLoginResponse" />
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input name="update" message="tns:update" />
      <wsdl:output name="updateResponse" message="tns:updateResponse" />
    </wsdl:operation>
    <wsdl:operation name="generateMailBoxAccountId">
      <wsdl:input name="generateMailBoxAccountId" message="tns:generateMailBoxAccountId" />
      <wsdl:output name="generateMailBoxAccountIdResponse" message="tns:generateMailBoxAccountIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="createDefault">
      <wsdl:input name="createDefault" message="tns:createDefault" />
      <wsdl:output name="createDefaultResponse" message="tns:createDefaultResponse" />
    </wsdl:operation>
    <wsdl:operation name="create">
      <wsdl:input name="create" message="tns:create" />
      <wsdl:output name="createResponse" message="tns:createResponse" />
    </wsdl:operation>
    <wsdl:operation name="readById">
      <wsdl:input name="readById" message="tns:readById" />
      <wsdl:output name="readByIdResponse" message="tns:readByIdResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MailBoxAccountManagementServiceSoapBinding" type="tns:MailBoxAccountManagement">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="read">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="read">
        <soap:body use="literal" namespace="http://operations.account.mproxy.cmp.com/" />
      </wsdl:input>
      <wsdl:output name="readResponse">
        <soap:body use="literal" namespace="http://operations.account.mproxy.cmp.com/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="delete">
        <soap:body use="literal" namespace="http://operations.account.mproxy.cmp.com/" />
      </wsdl:input>
      <wsdl:output name="deleteResponse">
        <soap:body use="literal" namespace="http://operations.account.mproxy.cmp.com/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readAll">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="readAll">
        <soap:body use="literal" namespace="http://operations.account.mproxy.cmp.com/" />
      </wsdl:input>
      <wsdl:output name="readAllResponse">
        <soap:body use="literal" namespace="http://operations.account.mproxy.cmp.com/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createMailBox">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="createMailBox">
        <soap:body use="literal" namespace="http://operations.account.mproxy.cmp.com/" />
      </wsdl:input>
      <wsdl:output name="createMailBoxResponse">
        <soap:body use="literal" namespace="http://operations.account.mproxy.cmp.com/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findSWUUserLogin">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="findSWUUserLogin">
        <soap:body use="literal" namespace="http://operations.account.mproxy.cmp.com/" />
      </wsdl:input>
      <wsdl:output name="findSWUUserLoginResponse">
        <soap:body use="literal" namespace="http://operations.account.mproxy.cmp.com/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="update">
        <soap:body use="literal" namespace="http://operations.account.mproxy.cmp.com/" />
      </wsdl:input>
      <wsdl:output name="updateResponse">
        <soap:body use="literal" namespace="http://operations.account.mproxy.cmp.com/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generateMailBoxAccountId">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="generateMailBoxAccountId">
        <soap:body use="literal" namespace="http://operations.account.mproxy.cmp.com/" />
      </wsdl:input>
      <wsdl:output name="generateMailBoxAccountIdResponse">
        <soap:body use="literal" namespace="http://operations.account.mproxy.cmp.com/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createDefault">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="createDefault">
        <soap:body use="literal" namespace="http://operations.account.mproxy.cmp.com/" />
      </wsdl:input>
      <wsdl:output name="createDefaultResponse">
        <soap:body use="literal" namespace="http://operations.account.mproxy.cmp.com/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="create">
        <soap:body use="literal" namespace="http://operations.account.mproxy.cmp.com/" />
      </wsdl:input>
      <wsdl:output name="createResponse">
        <soap:body use="literal" namespace="http://operations.account.mproxy.cmp.com/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readById">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="readById">
        <soap:body use="literal" namespace="http://operations.account.mproxy.cmp.com/" />
      </wsdl:input>
      <wsdl:output name="readByIdResponse">
        <soap:body use="literal" namespace="http://operations.account.mproxy.cmp.com/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MailBoxAccountManagementService">
    <wsdl:port name="MailBoxAccountManagementPort" binding="tns:MailBoxAccountManagementServiceSoapBinding">
      <soap:address location="http://localhost:8088/mailBoxAccount" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>